{{- if .Values.cloudflare.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-ddns-config
type: Opaque
stringData:
  config.json: |
    {
      "cloudflare": [
        {
          "authentication": {
            "api_token": "{{ .Values.cloudflare.apiToken }}"
          },
          "zone_id": "{{ .Values.cloudflare.zoneId }}",
          "subdomains": [
            {
              "name": "{{ .Values.cloudflare.recordName }}",
              "proxied": false
            }
          ]
        }
      ],
      "a": true,
      "aaaa": false,
      "purgeUnknownRecords": false,
      "ttl": 300
    }
{{- end }}